form a {
    margin-left: 5px;
}

body { 
	margin:0px; 
	font:18px "Tahoma", Arial, Helvetica, sans-serif; 
	color:#010000; 
	background: #fff1a8;
	background-color:var();
}
.blue-border {padding:20px;}

/* <!-- Menu CSS BEGIN --> */
*{margin:0;padding:0;text-decoration:none}

header {position:relative;width:100%;background:#333;}
.header-mobile {display:none;}
nav {position:relative;width:980px;margin:0 auto;z-index:111;}
#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #head-mobile {border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
/* #cssmenu:after,#cssmenu > ul:after {content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0} */
#cssmenu #head-mobile {display:none;}
#cssmenu {font-family:sans-serif;background:rgb(255, 255, 255);display:block;}
#cssmenu > ul > li {float:left}
#cssmenu > ul > li > a {padding:17px;font-size:18px;letter-spacing:1px;text-decoration:none;color:#000000;font-weight:700;}
#cssmenu > ul > li:hover > a,#cssmenu ul li.active a {color:#000000;}
#cssmenu > ul > li:hover,#cssmenu ul li.active:hover,#cssmenu ul li.active,#cssmenu ul li.has-sub.active:hover{background:#fff0c6!important;-webkit-transition:background .3s ease;-ms-transition:background .3s ease;transition:background .3s ease;}
/* #cssmenu > ul > li.has-sub > a {padding-right:30px} */
/* #cssmenu > ul > li.has-sub > a:after {position:absolute;top:22px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu > ul > li.has-sub > a:before {position:absolute;top:19px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease} */
 
#cssmenu > ul > li.has-sub:hover > a:before {top:23px;height:0}
#cssmenu ul ul {position:absolute;left:-9999px}
#cssmenu ul ul li {height:0;-webkit-transition:all .25s ease;-ms-transition:all .25s ease;background:rgb(125, 218, 235);transition:all .25s ease}
#cssmenu ul ul li:hover{ }
#cssmenu li:hover > ul {left:auto}
#cssmenu li:hover > ul > li {height:40px}
#cssmenu ul ul ul {margin-left:100%;top:0}
#cssmenu ul ul li a {border-bottom:1px solid rgba(150,150,150,0.15);padding:11px 15px;width:170px;font-size:18px;text-decoration:none;color:#000000;font-weight:400;}
#cssmenu ul ul li:last-child > a,#cssmenu ul ul li.last-item > a {border-bottom:0}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li a:hover {color:#000000;}
#cssmenu ul ul > li.has-sub:hover > a:before {top:17px;height:0}
#cssmenu ul ul li.has-sub:hover,#cssmenu ul li.has-sub ul li.has-sub ul li:hover {background:#ffffff;}
#cssmenu ul ul ul li.active a {border-left:1px solid #333}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active > a {border-top:1px solid #333}
.ham-button {
	display:none;
}
.menuwrapper {margin:0;display:block;align-items:center;}
.menuwrapper ul {margin:0;padding:0;}

@media (max-width:991px) {
.header-mobile {width:100%;height:46px;text-align:center;padding:10px 0 0 0 ;float:none;display:block;justify-content:center;}
nav {width:100%;}
#cssmenu {width:100%;}
#cssmenu ul {width:100%;display:none}
#cssmenu ul li ul {width:100%;display:block;}
/* #cssmenu ul li {border-top:1px solid #444} */
#cssmenu ul li:hover {background:#ff0000;}
#cssmenu ul ul li,#cssmenu li:hover > ul > li {height:auto}
#cssmenu ul li a,#cssmenu ul ul li a {width:100%;border-bottom:0}
#cssmenu > ul > li {float:none}
#cssmenu ul ul li a {padding-left:25px}
#cssmenu ul ul li {background:#FFF!important; padding-left:10px;}
#cssmenu ul ul li:hover {background:#FFF!important; }
#cssmenu ul ul ul li a {padding-left:35px}
#cssmenu ul ul li a {color:#000000;background:none}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li.active > a {color:#000000;}
#cssmenu ul ul, #cssmenu ul ul ul {position:relative;left:0;width:100%;margin:0;text-align:left}
#cssmenu > ul > li.has-sub > a:after,#cssmenu > ul > li.has-sub > a:before,#cssmenu ul ul > li.has-sub > a:after,#cssmenu ul ul > li.has-sub > a:before {display:none}
#cssmenu #head-mobile {display:block;padding:23px;color:#ddd;font-size:18px;font-weight:700}
/* <!-- #cssmenu .submenu-button{position:absolute;z-index:99;right:0;top:0;display:block;border-left:1px solid #444;height:46px;width:46px;cursor:pointer} -->
<!-- #cssmenu .submenu-button.submenu-opened{background:#262626} -->
<!-- #cssmenu ul ul .submenu-button{height:34px;width:34px} -->
<!-- #cssmenu .submenu-button:after{position:absolute;top:22px;right:19px;width:8px;height:2px;display:block;background:#ddd;content:''} -->
<!-- #cssmenu ul ul .submenu-button:after{top:15px;right:13px} -->
<!-- #cssmenu .submenu-button.submenu-opened:after{background:#fff} -->
<!-- #cssmenu .submenu-button:before{position:absolute;top:19px;right:22px;display:block;width:2px;height:8px;background:#ddd;content:''} -->
<!-- #cssmenu ul ul .submenu-button:before{top:12px;right:16px} -->
<!-- #cssmenu .submenu-button.submenu-opened:before{display:none} --> */
#cssmenu ul ul ul li.active a {border-left:none}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active > a {border-top:none}
.ham-button {width:55px;height:46px;position:absolute;right:0;top:0;cursor:pointer;z-index: 111111;}
.ham-button {
	display:flex;
	justify-content:center;
	align-items:center;
}
.menuwrapper > li {
	padding: 10px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 20px 3px #000000;
}


}
.ham {
	color:rgb(34, 34, 34);
	font-size: 33px;
	display:flex;
	justify-content:center;
}

#cssmenu {
	background:url("/images/wood-bg.jpg");
}
.menuwrapper {
	padding:0;
}

/* Ham Wrapper */
.ham-wrapper {
    border: 2px solid black;
    display: flex;
    background-color: #f5f5f5;
    width: 80%;
    height: 80%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
}

.sidebar-main {
    height:100%;
    background-color:white;
}
